@model Hockeyshop.Data.Data.Orders.OrderItem

@{
    ViewData["IdField"] = "IdOrderItem";
    ViewData["Title"] = "Order Item Details";
    ViewData["HideDeleteButton"] = true;
    ViewData["HideEditButton"] = true;
    ViewData["PartialDetails"] = "~/Views/Orders/OrderItems/_OrderItemDetails.cshtml";
    Layout = "_Layout";
}

@await Html.PartialAsync("_CrudDetailsContainer", Model)








@* @model Hockeyshop.Data.Data.Orders.OrderItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.IdOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOrderItem">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@