@model IEnumerable<Hockeyshop.Data.Data.Products.ProductImage>

@{
    ViewData["Title"] = "ProductImage";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "Product",
        "Product Category",
        "Image Url"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "Product Image",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var productImage = (Hockeyshop.Data.Data.Products.ProductImage)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => productImage.IdProductImage,
                        "Product" => productImage.Product?.Name,
                        "Product Category" => productImage.Product?.ProductCategory?.Name,
                        "Image Url" => productImage.ImageUrl,
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var productImage = (Hockeyshop.Data.Data.Products.ProductImage)row;
                    return $@"
                        <a href=""/ProductImages/Edit/{productImage.IdProductImage}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/ProductImages/Details/{productImage.IdProductImage}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/ProductImages/Delete/{productImage.IdProductImage}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)




@* <!---->
@model IEnumerable<Hockeyshop.Data.Data.Products.ProductImage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProductImage">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProductImage">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProductImage">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@