@model IEnumerable<Hockeyshop.Data.Data.Marketing.Promotion>

@{
    ViewData["Title"] = "Promotion";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "Name",
        "Discount Type",
        "Discount Value",
        "Start Date",
        "End Date",
        "Active"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "Promotion",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var promotion = (Hockeyshop.Data.Data.Marketing.Promotion)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => promotion.IdPromotion,
                        "Name" => promotion.Name,
                        "Discount Type" => promotion.DiscountType?.IdDiscountType,
                        "Discount Value" => promotion.DiscountValue,
                        "Start Date" => promotion.StartDate.ToShortDateString(),
                        "End Date" => promotion.EndDate.ToShortDateString(),
                        "Active" => promotion.Active,
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var promotion = (Hockeyshop.Data.Data.Marketing.Promotion)row;
                    return $@"
                        <a href=""/Promotions/Edit/{promotion.IdPromotion}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/Promotions/Details/{promotion.IdPromotion}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/Promotions/Delete/{promotion.IdPromotion}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)





@* <!---->
@model IEnumerable<Hockeyshop.Data.Data.Marketing.Promotion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountType.DiscountTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPromotion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPromotion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPromotion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@