@model IEnumerable<Hockeyshop.Data.Data.CMS.HockeyNews>

@{
    ViewData["Title"] = "HockeyNews";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "Title",
        "Content",
        "Author Firstname",
        "Author Lastname",
        "Created At",
        "Published?",
        "Image Url"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "HockeyNews",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var hockeyNews = (Hockeyshop.Data.Data.CMS.HockeyNews)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => hockeyNews.IdHockeyNews,
                        "Title" => hockeyNews.Title,
                        "Content" => hockeyNews.Content,
                        "Author Firstname" => hockeyNews.Author.FirstName,
                        "Author Lastname" => hockeyNews.Author.LastName,
                        "Created At" => hockeyNews.CreatedAt.ToShortDateString(),
                        "Published?" => hockeyNews.Published,
                        "Image Url" => hockeyNews.ImageUrl,
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var hockeyNews = (Hockeyshop.Data.Data.CMS.HockeyNews)row;
                    return $@"
                        <a href=""/HockeyNews/Edit/{hockeyNews.IdHockeyNews}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/HockeyNews/Details/{hockeyNews.IdHockeyNews}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/HockeyNews/Delete/{hockeyNews.IdHockeyNews}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)



@* <!---->
@model IEnumerable<Hockeyshop.Data.Data.CMS.HockeyNews>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHockeyNews">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHockeyNews">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHockeyNews">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@