@model IEnumerable<Hockeyshop.Data.Data.Cart.UserCart>

@{
    ViewData["Title"] = "UserCart";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "User",
        "Created At"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "User Cart",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var userCart = (Hockeyshop.Data.Data.Cart.UserCart)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => userCart.IdUserCart,
                        "User" => userCart.User?.IdUser,
                        "Created At" => userCart.CreatedAt.ToShortDateString(),
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var userCart = (Hockeyshop.Data.Data.Cart.UserCart)row;
                    return $@"
                        <a href=""/UserCarts/Edit/{userCart.IdUserCart}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/UserCarts/Details/{userCart.IdUserCart}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/UserCarts/Delete/{userCart.IdUserCart}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)




@* <!---->
@model IEnumerable<Hockeyshop.Data.Data.Cart.UserCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUserCart">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUserCart">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUserCart">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@