@model IEnumerable<Hockeyshop.Data.Data.Core.User>

@{
    ViewData["Title"] = "User";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "First Name",
        "Last Name",
        "Email",
        "PasswordHash",
        "PostCode",
        "City",
        "Street And Number",
        "User Role"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "User",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var user = (Hockeyshop.Data.Data.Core.User)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => user.IdUser,
                        "First Name" => user.FirstName,
                        "Last Name" => user.LastName,
                        "Email" => user.Email,
                        "PasswordHash" => user.PasswordHash,
                        "PostCode" => user.PostCode,
                        "City" => user.City,
                        "Street And Number" => user.StreetAndNumber,
                        "User Role" => user.UserRole?.Role,
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var user = (Hockeyshop.Data.Data.Core.User)row;
                    return $@"
                        <a href=""/Users/Edit/{user.IdUser}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/Users/Details/{user.IdUser}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/Users/Delete/{user.IdUser}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)

@* <!---->
@model IEnumerable<Hockeyshop.Data.Data.Core.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAndNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAndNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUser">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUser">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUser">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@