<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Besthockey</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hockeyshop.PortalWWW.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        @await Html.PartialAsync("Links")
    </header>

    <div class="container mt-5 pt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Layout container -->
    <div class="container align-content-center">
        <!-- Products section -->
        <div class="products-section py-5">
            <div class="container">
                <div class="row">

                    <!--New arrivals-->
                    <div class="col-12">
                        @if (ViewBag.ShowNewArrivals == true) //flaga żeby na widoku Hockey news nie było tej karuzeli
                        {
                            <h4>New arrivals</h4>
                            @await Html.PartialAsync("_NewArrivalsCarousel", ViewBag.NewArrivals as IEnumerable<Hockeyshop.Data.Data.Products.Product>)
                        }

                    </div>

                </div>
            </div>
        </div>

        <!-- Highlights section -->
        <div class="highlights-section py-5">
            <div class="container">
                <div class="row">

                    <!--Our highlights-->
                    <div class="col-md-6">
                        <h5 class="card-title">Our highlights</h5>
                        <div class="card mb-3 highlights-card">
                            <a class="stretched-link" asp-area="" asp-controller="Shop" asp-action="OurHighlights">
                                <img src="~/content/grays highlights.webp" alt="Best hockeysticks" class="card-img-top">
                            </a>
                        </div>
                    </div>

                    <!--Gift cards-->
                    <div class="col-md-6">
                        <h5 class="card-title">Gift cards</h5>
                        <div class="card mb-3 gift-cards-card">
                            <a class="stretched-link" asp-area="" asp-controller="Shop" asp-action="ProductCategory" asp-route-id="1">
                                <img src="~/content/gift card.jpg" alt="Gift card" class="card-img-top">
                            </a>
                        </div>
                    </div>

                    <!--Hockey news-->
                    <div class="hockey-news-section">
                        <h5 class="card-title">Hockey news</h5>
                        <div class="card mb-3 hockey-news-card">
                            <a class="stretched-link" asp-area="" asp-controller="HockeyNews" asp-action="Index">
                                <img src="~/content/hockey news.jpg" alt="Hockey news" class="card-img-top">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Shop rules section -->
        @{
            var shopRules = ViewBag.ShopRules as List<Hockeyshop.PortalWWW.Models.ShopRulesViewModel>;
        }

        @if (shopRules != null && shopRules.Any())
        {
            <div class="shop-rules-section row">
                @foreach (var rule in shopRules)
                {
                    <div class="col-12 col-md-4">
                        <div class="card p-3 mb-3">
                            <div class="row">
                                <div class="col-md-2 d-none d-md-block">
                                    <i class="pt-4 ps-3 fa-2x @rule.IconClass"></i>
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h3>@rule.Title</h3>
                                        <p>@rule.Content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info">No shop rules defined.</div>
                </div>
            </div>
        }

        <!-- Contact section -->
        @await Component.InvokeAsync("ContactSection")
    </div>

    @await Component.InvokeAsync("FooterSection")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/contact.js"></script> <!--modal z potwierdzeniem wysłania wiadomości-->

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
