@model IEnumerable<Hockeyshop.Data.Data.Marketing.ProductPromotion>

@{
    ViewData["Title"] = "ProductPromotion";
    Layout = "_Layout";

    var columns = new List<string>
    {
        "ID",
        "Product",
        "Promotion"
    };

    CrudIndexContainerModel containerModel = new CrudIndexContainerModel
            {
                Title = "Product Promotion",
                CreateAction = "Create",
                EnableSearch = true,
                SearchTerm = ViewBag.SearchTerm as string,
                Columns = columns,
                Rows = Model.Cast<object>(),
                GetValue = (row, col) =>
                {
                    var productPromotion = (Hockeyshop.Data.Data.Marketing.ProductPromotion)row; //rzutowanie wiersza na typ...
                    return col switch
                    {
                        "ID" => productPromotion.IdProduct,
                        "Product" => productPromotion.Product?.IdProduct,
                        "Promotion" => productPromotion.Promotion?.IdPromotion,
                        _ => ""
                    };
                },
                ActionLinks = row =>
                {
                    var productPromotion = (Hockeyshop.Data.Data.Marketing.ProductPromotion)row;
                    return $@"
                        <a href=""/ProductPromotions/Edit/{productPromotion.IdProduct}"" class=""btn btn-sm btn-outline-primary"">Edit</a>
                        <a href=""/ProductPromotions/Details/{productPromotion.IdProduct}"" class=""btn btn-sm btn-outline-info"">Details</a>
                        <a href=""/ProductPromotions/Delete/{productPromotion.IdProduct}"" class=""btn btn-sm btn-outline-danger"">Delete</a>
                    ";
                }
            };
}

@await Html.PartialAsync("_CrudIndexContainer", containerModel)




@* <!---->
@model IEnumerable<Hockeyshop.Data.Data.Marketing.ProductPromotion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotion.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
 *@